[Desktop Entry]
Encoding=UTF-8
Name=Link to The Query Optimizer - 11g Release 2 (11.2)
Type=Link
URL=https://docs.oracle.com/cd/E25178_01/server.1111/e16638/optimops.htm
Icon=text-html
